@charset "UTF-8";
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.img {
  width: 270px;
  height: 260px;
}

button {
  cursor: pointer;
}

/* відміняємо крапки списків */
ul {
  list-style: none;
}

/* Скасовуємо підкреслення у посилань */
a {
  text-decoration: none;
  font-style: normal;
}

/* palitra:
колір основного тексту: color: #000 - primary-text-color
колір вторичного тексту: #212121  - h2-text-color
колір посилань:  color: #2196f3
колір посилань(номер тел. пошта): #757575
колір текстерії: rgba(117, 117, 117, 0.5);
бекграунт колор секцій переваги та what_we_doing:
#E5E5E5
колір тексту в текстерії: rgba(117, 117, 117, 0.5)
колір бордера форми:rgba(33, 33, 33, 0.2);
футер:
лого: 
rgba(33, 150, 243, 1)
rgba(255, 255, 255, 1)
адреса: 
rgba(255, 255, 255, 1)
колір  посилань(номер тел. пошта)-
rgba(255, 255, 255, 0.6)
*/
:root {
  --primary-text-color: #000;
  --h2-h3-text-color: #212121;
  --logo-color: #2196f3;
  --color-link: #757575;
  --back-ground-color: rgba(47, 48, 58);
  --white-main-color: #ffffff;
  --back-gtound-key-kolor: #188ce8;
  --icon-fill-color: #afb1b8;
  --back-ground-key-color-foot: rgba(255, 255, 255, 0.1);
  --border-form: rgba(33, 33, 33, 0.2);
  --textariya-color-next: rgba(117, 117, 117, 0.5);
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto";
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.body {
  color: var(--primary-text-color);
  font-family: "Roboto";
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/*--------- GENERAL-------=====-- */
/* класс приховування */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.button {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.port {
  width: 80%;
  height: 92%;
}

.not-together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.p-mainpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-link);
}

.h2-mainpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--h2-h3-text-color);
}

.h3main-page {
  color: var(--h2-h3-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  margin-top: 30px;
}

/* всі контейнери width: 1170px; */
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 94px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section1p {
  padding-bottom: 94px;
}

.container1 {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* всі контейнери width: 1600px; */
.wide {
  max-width: 1630px;
}

.padding-top-0 {
  padding-top: 0px;
}

.header__logo {
  color: var(--logo-color);
  font-weight: bold;
  font-size: 26px;
  font-family: "Raleway";
  line-height: 190.75%;
  margin-right: 43px;
  -webkit-transition: color var(--transition-dur-func);
  transition: color var(--transition-dur-func);
}
.header__logo:hover, .header__logo:focus {
  color: var(--logo-color);
}
.header__logo > span {
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color var(--transition-dur-func);
  transition: background-color var(--transition-dur-func);
}
.backdrop.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

/* кнопка модалки */
.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  -webkit-transition: fill var(--transition-dur-func);
  transition: fill var(--transition-dur-func);
}
.modal__close-button:focus, .modal__close-button:hover {
  fill: var(--logo-color);
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--logo-color);
  color: var(--white-main-color);
  width: 200px;
  height: 50px;
  border: var(--back-ground-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-transition: background-color var(--transition-dur-func);
  transition: background-color var(--transition-dur-func);
}
.modal__button:hover, .modal__button:focus {
  background-color: var(--back-gtound-key-kolor);
}

/* ------MODAL-FORM------- */
.modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: background-color var(--transition-dur-func);
  transition: background-color var(--transition-dur-func);
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.modal__container {
  height: 100%;
  padding: 40px;
}

/* заголовок модалки */
.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: var(--h2-h3-text-color);
  padding-bottom: 16px;
  text-align: center;
}

.modal__field:not(:last-child) {
  padding-bottom: 10px;
}

.modal__field-title {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
  color: var(--color-link);
}

.modal__input-field {
  display: block;
  position: relative;
  height: 40px;
}

/* опис класу вводу данних */
.modal__input {
  width: 100%;
  border: 1px solid var(--border-form);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  color: #000;
  -webkit-transition: border var(--transition-dur-func);
  transition: border var(--transition-dur-func);
}
.modal__input:focus {
  outline: none;
  border: 1px solid var(--border-form);
}
.modal__input:focus + .modal-form-input-icon {
  fill: var(--logo-color);
}
.modal__input:focus {
  border: 1px solid var(--logo-color);
}

/* клас для іконок */
.modal__icon {
  position: absolute;
  top: 0%;
  left: 15px;
  -webkit-transform: translate(-16%, 112%);
          transform: translate(-16%, 112%);
  -webkit-transition: var(--transition-dur-func);
  transition: var(--transition-dur-func);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.modal__field-title {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
  color: var(--color-link);
}

.modal__comment {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid var(--border-form);
  outline: none;
  color: var(--textariya-color-next);
  border-radius: 4px;
  font-family: "Roboto";
  padding: 16px 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  -webkit-transition: border-color var(--transition-dur-func);
  transition: border-color var(--transition-dur-func);
}
.modal__comment:focus {
  border: 1px solid var(--logo-color);
}

.modal__descr {
  border: 1px solid var(--border-form);
  outline: none;
}
.modal__descr:focus {
  border: var(--logo-color);
}

.modal__descr-chek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--color-link);
  letter-spacing: 0.4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal__descr-chek::before {
  margin-right: 9px;
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--h2-h3-text-color);
  cursor: pointer;
  border-radius: 4px;
}

.modal__descr:checked + .modal__descr-chek::before {
  background-color: var(--logo-color);
  border: none;
  background-image: url(../img/galochka.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* класс для посилання умови договору */
.modal__conditions {
  color: var(--logo-color);
  text-decoration: underline;
  margin-left: 4px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__input-main {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 12px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--back-ground-color);
  font-size: 16px;
}

.footer__input-portfolio {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 12px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--back-ground-color);
  font-size: 16px;
  width: 343px;
  height: 46px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

/* загальний клас для розміщення переваг */
.benefits__item {
  width: 270px;
  height: 224px;
}

.benefits__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

/* <!-- C H I M  M I Z A U M A E M O S  --> */
.what-we-are-doing__item {
  position: relative;
}

.what-we-are-doing__overlay {
  position: absolute;
  left: 0;
  top: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  color: var(--white-main-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* <!--  T E A M--> */
/* оформлення заголовків постерів та опису */
/* фон */
.team {
  background-color: #f5f4fa;
}

.team__member {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__posterr {
  padding: 30px;
  text-align: center;
}

/* ,імя, */
.team__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  color: var(--h2-h3-text-color);
}

/* чим замається */
.team__specialty {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-link);
  margin-bottom: 16px;
}

.down {
  padding-top: 94px;
  padding-bottom: 50px;
}

/* клас всіх карток */
.kartoteka {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* учасники */
/* класс постер */
.poster {
  width: 270px;
  height: 368px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.poster:not(:last-child) {
  margin-right: 40px;
}

/* КЛАС ОПИСУ SVG */
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* LINK SOCIAL WEB
lmlml
  */
.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  background-color: var(--white-main-color);
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--transition-dur-func), fill var(--transition-dur-func);
  transition: background-color var(--transition-dur-func), fill var(--transition-dur-func);
}
.social-list__link:focus, .social-list__link:hover {
  background-color: var(--logo-color);
}
.social-list__link:focus .social-list__icon, .social-list__link:hover .social-list__icon {
  fill: var(--white-main-color);
}

/* клас SVG */
.social-list__icon {
  fill: var(--icon-fill-color);
}

/* -- C U S T O M E R S --> */
.what_we_doing-item {
  width: 170px;
  height: 92px;
}

.customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--icon-fill-color);
  width: 170px;
  height: 92px;
  -webkit-transition: color var(--transition-dur-func), border-color var(--transition-dur-func);
  transition: color var(--transition-dur-func), border-color var(--transition-dur-func);
}
.customer:hover, .customer:focus {
  border-color: var(--logo-color);
  color: var(--logo-color);
}

.customer__svg {
  fill: currentColor;
}

.footer {
  background-color: var(--back-ground-color);
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  color: var(--logo-color);
  font-weight: bold;
  font-size: 26px;
  font-family: "Raleway", "sans-serif";
}
.footer__logo > span {
  color: var(--white-main-color);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer__adress {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 9px;
  width: 200px;
}
.footer__adress:hover, .footer__adress:focus {
  color: var(--logo-color);
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 9px;
  -webkit-transition: color var(--transition-dur-func);
  transition: color var(--transition-dur-func);
}
.footer__contact:hover, .footer__contact:focus {
  color: var(--logo-color);
}

.footer__title {
  color: var(--white-main-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--white-main-color);
  background-color: var(--back-ground-key-color-foot);
  -webkit-transition: background-color var(--transition-dur-func);
  transition: background-color var(--transition-dur-func);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--back-gtound-key-kolor);
}
.footer__link:hover .footer__icon, .footer__link:focus .footer__icon {
  fill: var(--white-main-color);
}

.email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* КЛАСС СПИСКУ ФУТЕРА ДЛЯ РОЗЄДНАННЯ ЕЛЕМЕНТІВ */
.footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  margin-left: 12px;
  display: flex;
  background-color: var(--logo-color);
  color: var(--white-main-color);
  width: 200px;
  height: 50px;
  border: var(--back-ground-color);
  font-family: "Roboto";
  letter-spacing: 0.06em;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  -webkit-transition: background-color var(--transition-dur-func);
  transition: background-color var(--transition-dur-func);
}
.footer__buttons:hover, .footer__buttons:focus {
  background-color: var(--back-gtound-key-kolor);
}

/* H E A D E R */
.header {
  border-bottom: Solid 1px #ececec;
  height: 80px;
  padding-left: 215px;
  padding-right: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* розсунення елементів навігації сайту */
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
  font-weight: 500;
}

/* навігація сайту */
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  padding: 32px 0px;
  margin-left: 50px;
  -webkit-transition: color var(--transition-dur-func);
  transition: color var(--transition-dur-func);
}
.header__link:hover, .header__link:focus {
  color: var(--logo-color);
}
.header__link.current {
  color: var(--logo-color);
  position: relative;
}
.header__link.current::after {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--logo-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
}

/* розсунення елементів навігації */
/* класс контакти хедера */
.header__contacts {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contact__element:not(:last-child) {
  padding-right: 47px;
}

/* посилання на номер телефону та е-mail */
.header__contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-link);
  font-weight: 500;
  font-size: 14px;
  line-height: 102.5625%;
  padding: 32px 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 750ms cubic-bezier(0.4, 0, 0.2, 1);
  /* покраска SVG при ховері і фокусі */
}
.header__contact__link::before {
  content: "";
  margin-right: 10px;
}
.header__contact__link:hover, .header__contact__link:focus {
  color: var(--logo-color);
}
.header__contact__link:hover .header__contact__svg, .header__contact__link:focus .header__contact__svg {
  fill: var(--logo-color);
}

/* SVG */
.header__contact__svg {
  fill: var(--color-link);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 10px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 1000ms;
  transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------END--HEADER------------------------- */
.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Img-14.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img-14.jpg);
  background-size: cover;
  background-color: var(--back-ground-color);
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0px;
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  height: 120px;
  color: var(--white-main-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  line-height: 1.37;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 35px;
  max-width: 695px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Кнопка HERO */
.hero__buttton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--logo-color);
  color: var(--white-main-color);
  width: 200px;
  height: 50px;
  border: var(--back-ground-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-transition: background-color var(--transition-dur-func);
  transition: background-color var(--transition-dur-func);
}
.hero__buttton:hover, .hero__buttton:focus {
  background-color: var(--back-gtound-key-kolor);
}

.main-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* клас розміщення фільтрів сторінки */
.main-portfolio__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 34px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-portfolio__button {
  color: var(--h2-h3-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-family: "Roboto";
  font-style: normal;
  cursor: pointer;
  border: #ffffff;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 6px 22px;
  -webkit-transition: color var(--transition-dur-func), background-color var(--transition-dur-func);
  transition: color var(--transition-dur-func), background-color var(--transition-dur-func);
}
.main-portfolio__button:hover, .main-portfolio__button:focus {
  color: var(--white-main-color);
  background-color: var(--back-gtound-key-kolor);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: var(--transition-dur-func);
  transition: var(--transition-dur-func);
}

/* задання класу на li кнопок */
.main-portfolio__itemt:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
}

/* клас розміщення карток */
.main-portfolio__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.main-portfolio__cardmain {
  border: solid 1px #eeeeee;
  position: relative;
  overflow: hidden;
}
.main-portfolio__cardmain:focus, .main-portfolio__cardmain:hover {
  -webkit-transition: color var(--transition-dur-func);
  transition: color var(--transition-dur-func);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.main-portfolio__link-wrapper {
  position: relative;
  overflow: hidden;
}
.main-portfolio__link-wrapper:hover .main-portfolio__overlay, .main-portfolio__link-wrapper:focus .main-portfolio__overlay {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.main-portfolio__img-wrapper {
  position: relative;
  overflow: hidden;
}

.main-portfolio__overlay {
  position: absolute;
  padding-top: 63px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 63px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-main-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translate(0, 140%);
          transform: translate(0, 140%);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.main-portfolio__description {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
}

.main-portfolio__subtitle {
  font-family: "Roboto";
  color: var(--h2-h3-text-color);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 36px;
  text-align: left;
  margin-bottom: 4px;
}

/* опис постерів */
.main-portfolio__paragraph {
  color: var(--color-link);
  font-size: 16px;
  line-height: 187.5%;
  text-align: left;
}/*# sourceMappingURL=main.css.map */