.footer {
    background-color: var(--back-ground-color);
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
    display: flex;
}
.footer__logo {
    display: flex;
    margin-bottom: 20px;
    color: var(--logo-color);
    font-weight: bold;
    font-size: 26px;
    font-family: "Raleway", "sans-serif";
    & > span {
        color: var(--white-main-color);
    }
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: max-content;
}

.footer__adress {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 9px;
    width: 200px;
    &:hover,
    &:focus {
        color: var(--logo-color);
    }
}
.footer__contact {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 9px;
    transition: color var(--transition-dur-func);
    &:hover,
    &:focus {
        color: var(--logo-color);
    }
}

.footer__title {
    color: var(--white-main-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white-main-color);
    background-color: var(--back-ground-key-color-foot);
    transition: background-color var(--transition-dur-func);
    &:hover,
    &:focus {
        background-color: var(--back-gtound-key-kolor);
    }
    &:hover .footer__icon,
    &:focus .footer__icon {
        fill: var(--white-main-color);
    }
}

.email {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* КЛАСС СПИСКУ ФУТЕРА ДЛЯ РОЗЄДНАННЯ ЕЛЕМЕНТІВ */

.footer__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    margin-left: 12px;
    display: flex;
    background-color: var(--logo-color);
    color: var(--white-main-color);
    width: 200px;
    height: 50px;
    border: var(--back-ground-color);
    font-family: "Roboto";
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    -webkit-transition: background-color var(--transition-dur-func);
    transition: background-color var(--transition-dur-func);

    &:hover,
    &:focus {
        background-color: var(--back-gtound-key-kolor);
    }
}
