.hero {
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../img/Img-14.jpg);
    background-size: cover;
    background-color: var(--back-ground-color);
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0px;
}

.hero__title {
    display: flex;
    text-align: center;
    height: 120px;
    color: var(--white-main-color);
    justify-content: center;
    letter-spacing: 0.06em;
    line-height: 1.37;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    margin: 0 auto;

    margin-bottom: 35px;
    max-width: 695px;
    align-items: center;
}
/* Кнопка HERO */
.hero__buttton {
    display: flex;
    background-color: var(--logo-color);
    color: var(--white-main-color);
    width: 200px;
    height: 50px;
    border: var(--back-ground-color);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color var(--transition-dur-func);
    &:hover,
    &:focus {
        background-color: var(--back-gtound-key-kolor);
    }
}
