/* кнопка модалки */
.modal__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: fill var(--transition-dur-func);
    &:focus,
    &:hover {
        fill: var(--logo-color);
    }
}
.modal__button {
    display: flex;
    background-color: var(--logo-color);
    color: var(--white-main-color);
    width: 200px;
    height: 50px;
    border: var(--back-ground-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color var(--transition-dur-func);
    &:hover,
    &:focus {
        background-color: var(--back-gtound-key-kolor);
    }
}
