/* ------MODAL-FORM------- */
.modal__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.modalforminput_modal {
    display: block;
    position: relative;
    height: 40px;
}

/* клас для іконок */
.modal-form-input-icon {
    position: absolute;
    top: 0%;
    left: 15px;
    transform: translate(-50%, 100%);
    transition: var(--transition-dur-func);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* опис класу вводу данних */
.modal-form-input {
    width: 100%;
    border: 1px solid var(--border-form);
    border-radius: 4px;
    height: 40px;
    padding-left: 42px;
    color: #000;
    transition: border var(--transition-dur-func);

    &:focus {
        outline: none;
        border: 1px solid var(--border-form);
    }
    &:focus + .modal-form-input-icon {
        fill: var(--logo-color);
    }
    &:focus {
        border: 1px solid var(--logo-color);
    }
}

.modal-form-descr {
    border: 1px solid var(--border-form);
    outline: none;
    &:focus {
        border: var(--logo-color);
    }
}

.modal-form-input-desc {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 4px;
    color: var(--color-link);
}
.modal__form_container_field:not(:last-child) {
    padding-bottom: 10px;
}

.modal-form-messege {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid var(--border-form);
    outline: none;
    color: var(--textariya-color-next);
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    transition: border-color var(--transition-dur-func);
    &:focus {
        border: 1px solid var(--logo-color);
    }
}

.modal-form-descr-chek {
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 20px;

    color: var(--color-link);
    letter-spacing: 0.4px;
    justify-content: center;
    &::before {
        margin-right: 9px;
        content: "";
        display: block;
        width: 16px;
        height: 15px;
        border: 1px solid var(--h2-h3-text-color);
        cursor: pointer;
        border-radius: 4px;
    }
}

.modal-form-descr:checked + .modal-form-descr-chek::before {
    background-color: var(--logo-color);
    border: none;
    background-image: url(../img/galochka.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/* класс для посилання умови договору */
.ahref-umovi {
    color: var(--logo-color);
    text-decoration: underline;
    margin-left: 4px;
}
.footer-subscribe__field {
    width: 358px;
}
.footer-subscribe__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    height: 50px;
    padding-left: 70px;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--back-ground-color);
    font-size: 16px;
    width: 100%;
}
.port {
    width: 80%;
    height: 92%;
}
.inde {
    width: 100%;
}
.footer-subscribe__span {
    display: block;
    position: relative;
    height: 50px;
    margin-top: 17px;
}
.footer-subscribe__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    transition: var(--transition-dur-func);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
