/* <!--  T E A M--> */
/* оформлення заголовків постерів та опису */

/* фон */
.team {
    background-color: #f5f4fa;
}
.team__member {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__posterr {
    padding: 30px;
    text-align: center;
}

/* ,імя, */

.team__name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
    color: var(--h2-h3-text-color);
}
/* чим замається */
.team__specialty {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-link);
    margin-bottom: 16px;
}
.down {
    padding-top: 94px;
    padding-bottom: 50px;
}

/* клас всіх карток */
.kartoteka {
    justify-content: space-between;
}

/* учасники */
/* класс постер */
.poster {
    width: 270px;
    height: 368px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    &:not(:last-child) {
        margin-right: 40px;
    }
}

/* КЛАС ОПИСУ SVG */
.social-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* LINK SOCIAL WEB
lmlml
  */
.social-list__link {
    display: flex;
    width: 44px;
    background-color: var(--white-main-color);
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-dur-func),
        fill var(--transition-dur-func);
    &:focus,
    &:hover {
        background-color: var(--logo-color);
    }
    &:focus .social-list__icon,
    &:hover .social-list__icon {
        fill: var(--white-main-color);
    }
}
/* клас SVG */

.social-list__icon {
    fill: var(--icon-fill-color);
}
