.modalforminput_footer {
    display: block;
    position: relative;
    height: 50px;
    margin-top: 17px;
}
.modal-form-input-icon-footer {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    transition: var(--transition-dur-func);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.buttons-footer {
    margin-left: 12px;
    margin-top: 36px;
    display: flex;
    background-color: var(--logo-color);
    color: var(--white-main-color);
    width: 200px;
    height: 50px;
    border: var(--back-ground-color);
    font-family: "Roboto";
    letter-spacing: 0.06em;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color var(--transition-dur-func);
}
.buttons-footer:hover,
.buttons-footer:focus {
    background-color: var(--back-gtound-key-kolor);
}
