.cards_cardmain {
    border: solid 1px#eeeeee;
    position: relative;
    overflow: hidden;
    &:focus,
    &:hover {
        transition: color var(--transition-dur-func);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
}

.cards_cardmain-link-wrappe {
    max-width: 100%;
    height: 100%;
}
.cards_cardmain-link-wrapper_img {
    position: relative;
    overflow: hidden;
    &:hover .overlay,
    &:focus .overlay {
        transform: translate(0, 0);
    }
}

.overlay {
    position: absolute;
    padding-top: 63px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 63px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--white-main-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translate(0, 102%);
    transition: transform 500ms linear;
}

/* клас розміщення карток */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.cards_cardmain_description {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;
}
.cards_cardmain_description__subtitle {
    font-family: "Roboto";
    color: var(--h2-h3-text-color);
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 36px;
    text-align: left;
    margin-bottom: 4px;
}

/* опис постерів */
.cards_cardmain_description__type {
    color: var(--color-link);
    font-size: 16px;
    line-height: 187.5%;
    text-align: left;
}
