.main-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* клас розміщення фільтрів сторінки */
.main-portfolio__filters {
    display: flex;
    margin-bottom: 34px;
    justify-content: center;
}
